<div class="container">
    <h2 id="signUp-title" class="text-center">Sign Up</h2>
    <fieldset class="form-group">
        <legend>Sign Up</legend>
        <form name='signUpForm' novalidate>
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" name="firstName" placeholder="First Name"
                    data-ng-model="$signUpCtrl.user.firstName" required minlength="2" data-ng-maxlength="10">
                <span
                    data-ng-if="(signUpForm.firstName.$error.minlength || signUpForm.firstName.$error.required) && signUpForm.firstName.$touched">
                    First Name must be at least 2 characters long
                </span>
                <span data-ng-if="signUpForm.firstName.$error.maxlength && signUpForm.firstName.$touched">
                    First Name must not be longer than 10 characters
                </span>
                <br>
            </div>

            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" name="lastName" placeholder="Last Name"
                    data-ng-model="$signUpCtrl.user.lastName" required minlength="1" data-ng-maxlength="10">
                <span
                    data-ng-if="(signUpForm.lastName.$error.minlength || signUpForm.lastName.$error.required) && signUpForm.lastName.$touched">
                    Last Name must be at least 1 characters long
                </span>
                <span data-ng-if="signUpForm.lastName.$error.maxlength && signUpForm.lastName.$touched">
                    Last Name must not be longer than 10 characters
                </span>
                <br>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" placeholder="Email"
                    data-ng-model="$signUpCtrl.user.email" required>
                <span data-ng-if="signUpForm.email.$invalid && signUpForm.email.$touched">
                    Must be a valid email address: handle@domain format
                </span>
                <br>
            </div>

            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" name="phone" placeholder="##########"
                    data-ng-model="$signUpCtrl.user.phone">

                <br>
            </div>

            <div class="form-group">
                <label for="favoriteDish">Favorite Dish</label>
                <input type="text" class="form-control" name="favoriteDish" placeholder="Favorite Dish"
                    data-ng-model="$signUpCtrl.user.favoriteDish">
                <br>
            </div>

            <div class="form-group">
                <div class="alert alert-danger" role="alert" data-ng-if="$signUpCtrl.error">

                </div>
                <div class="alert alert-success" role="alert" data-ng-if="$signUpCtrl.success">
                    Your data has been stored
                </div>
                <br>
            </div>

            <button class="btn btn-primary" data-ng-disabled="signUpForm.$invalid" data-ng-click="$signUpCtrl.submit()">
                Submit
            </button>
        </form>
    </fieldset>
</div>